.card{
    width: 250px;
    height: 462px;
    padding: 15px;
    
}
.card-img-top
{
    
    height: 270px;
}
.container
{
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.reviews{
    font-size: 15px;
    
}
.price{
    font-size: 15px;
}
.quickadd{
    /* width: 200px;
    height: 40px; */
    border-radius: 0;
    
}
